<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <connectionstring>
    <add 
      name="YodaCoffeeShop"
      connectionstring="Data Source=DELL-PC\SQLEXPRESS;Initial Catalog=YodaCoffeeShop;Integrated Security=True"
      providerName="System.Data.SqlClient"
      />
  </connectionstring>
</packages>